<div>

    <!--BIO SECTION -->

    <div class="bioSection pad-40">
        <h2 class="underline-on-hover mb-5">About Me</h2>
        <div class="row">
            <div class="mb-3">
                <span>I am a highly skilled Senior Software Engineer with a robust background in full-stack
                    development and proven expertise in leading successful teams.</span>
            </div>
            <div class="mt-3 mb-3">
                <span>Over the course of 6.5
                    years, I have consistently delivered cutting-edge software solutions, surpassing client
                    expectations and driving business growth. Adaptable to dynamic environments, I excel
                    at problem-solving and effectively lead cross-functional teams.</span>
            </div>
            <div class="mt-3">
                <span>My passion for
                    innovation and continuous learning drives me to seek a challenging position where I can
                    apply my technical expertise and leadership abilities to contribute significantly to an
                    ambitious organization's growth and success.</span>
            </div>
        </div>
    </div>

    <!--EXPERIENCE SECTION -->

    <div class="experienceSection">
        <h2 class="underline-on-hover mb-5">Experience</h2>
        <div class="row boxShadow pad-20 mb-5" (click)="openCroemTab()">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2" style="padding-left: 0px;">
                <span>2019 - Present</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                <h3 class="sub-heading">SENIOR SOFTWARE ENGINEER</h3>
                <span>CROEM PVT.LTD</span>
                <div class="mt-2 mb-2">
                    <li class="mt-3">Senior Software Engineer (Team Lead) at a Fintech company. Responsible for leading
                        a
                        team, overseeing development, providing technical support, and designing robust
                        architectures for innovative financial solutions.</li>

                    <li class="mt-3">Led a high-impact project that streamlined transaction processing, resulting in a
                        20%
                        reduction in processing time and improved overall system efficiency, positively
                        impacting client satisfaction and driving increased business revenue.
                    </li>
                </div>
            </div>
        </div>

        <div class="row boxShadow pad-20 mb-5" (click)="openFunsolTab()">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" style="padding-left: 0px;">
                <span>2017 - 2019</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                <h3 class="sub-heading">SOFTWARE ENGINEER</h3>
                <span>FUTURESOL</span>
                <div class="mt-2 mb-2">
                    <li class="mt-3">I started my career from FUTURESOL where I developed and maintained cutting-edge
                        software applications, adhering to industry standards and best practices. Collaborated
                        with cross-functional teams to design and implement new features, enhancing user
                        experiences. Resolved complex technical issues through rigorous debugging and
                        troubleshooting. Participated in code reviews, providing constructive feedback, and
                        fostering continuous improvement.</li>

                    <li class="mt-3"> Played a key role in a critical project focused on enhancing application stability
                        and
                        eliminating bugs, implementing rigorous testing protocols, and conducting
                        comprehensive debugging, resulting in a 30% reduction in post-release issues and
                        significantly improving overall software reliability.
                    </li>
                </div>
            </div>
        </div>

    </div>

    <!--DOWNLOAD RESUME SECTION -->

    <div class="row text-center">
        <span class="underline-on-hover" style="color: black;" (click)="downloadResume()">Download Full Resume ></span>
    </div>

    <!--PROJECTS SECTION -->

    <div class="projectSection pad-40">
        <h2 class="underline-on-hover mb-5">Projects</h2>

        <!--Start of Project 1 Details-->
        <div class="row boxShadow borderStyling pad-20">
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Project Name: </span><span style="font-weight: bolder;">MI Wallet (Card
                    Issuing System in Panama)</span>
            </div>
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Description: </span><span>I contributed to the development of "Wa!" - an
                    all-in-one mobile app that eliminates the
                    need for cash withdrawals. The app offers a range of services, including benefits
                    reception, prepaid card request, savings account acquisition, bill payments, purchases,
                    and QR withdrawals at 1,000+ stores. Additionally, introduced a prepaid card service
                    accessible at <a style="color: cyan" href="https://daimvirtual.com/"
                        target="_blank">www.daimvirtual.com</a>.
                    By being part of this innovative project, contributed to creating a seamless and userfriendly
                    financial management solution, providing a convenient and cashless
                    experience for our users</span>
            </div>
            <div class="col-lg-12">
                <span class="sub-heading">Tech Stack: </span>
                <li>Net Core 8 API</li>
                <li>Domain-Driven Design (DDD) Pattern / ABP.IO</li>
                <li>Entity Framework / LINQ / Dapper / SignalR</li>
                <li>IONIC-Angular</li>
                <li>SQL Server</li>
                <li>React Js</li>
                <li>Angular</li>
                <li>Azure DevOps</li>
            </div>
        </div>
        <!--End of Project Details-->

        <!--Start of Project 2 Details-->
        <div class="row boxShadow borderStyling pad-20 ">
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Project Name: </span><span style="font-weight: bolder;">MiCedulad</span>
            </div>
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Description: </span><span><a style="color: cyan" href="https://Micedulad.com/"
                        target="_blank">Micedulad.com</a> is an award-winning project developed in Panama, aimed at
                    providing
                    essential assistance to citizens of America during the COVID-19 pandemic. Through
                    micedulad.com, we worked tirelessly to support and aid individuals during these
                    challenging times, making a positive difference in the lives of countless people.
                </span>
            </div>
            <div class="col-lg-12">
                <span class="sub-heading">Tech Stack: </span>
                <li>.Net Core 3.1 API</li>
                <li>Domain-Driven Design (DDD) Pattern</li>
                <li>Entity Framework / LINQ / ADO</li>
                <li>IONIC-Angular</li>
                <li>JavaScript /jQuery/ Html, CSS/ Bootstrap</li>
                <li>React Js</li>
                <li>Angular</li>
                <li>Azure DevOps</li>
            </div>
        </div>
        <!--End of Project Details-->

        <!--Start of Project 3 Details-->
        <div class="row boxShadow borderStyling pad-20 ">
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Project Name: </span><span style="font-weight: bolder;">Neogateway (USA Based
                    Payment Gateway)</span>
            </div>
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Description: </span><span>NeoGateway is a transaction acquiring engine which
                    provides services like
                    Ecommerce, Point of Sale, IVR, SDK, and API for a custom solution. It is integrated
                    directly to Mastercard, VISA AMEX, CLAVE and other networks. The solution has been
                    in production over a decade and is being used in Latin American countries. From
                    processing to clearing and settlement, it enables banks to maintain full Acquiring
                    ecosystem.
                </span>
            </div>
            <div class="col-lg-12">
                <span class="sub-heading">Tech Stack: </span>
                <li>.Net Framework 4 - .Net Core 3.1 </li>
                <li>MVC, MVVM / Domain-Driven Design (DDD) Pattern</li>
                <li>Entity Framework / LINQ / ADO </li>
                <li>Angular</li>
                <li>JavaScript /jQuery/ Html, CSS/ Bootstrap</li>
                <li>SQL Server</li>
                <li>Azure DevOps</li>
            </div>
        </div>
        <!--End of Project Details-->

        <!--Start of Project 4 Details-->
        <div class="row boxShadow borderStyling pad-20 ">
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Project Name: </span><span style="font-weight: bolder;">Property Manuel</span>
            </div>
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Description: </span><span>Property Manuel is a cutting-edge app designed to
                    simplify your home management.
                    With one dedicated platform, you can securely store and access vital information about
                    your home and household from anywhere.
                </span>
            </div>
            <div class="col-lg-12 mb-3">
                <span class="sub-heading">Key Features: </span>
                <li>Effortlessly organize and store documents, measurements, warranties, receipts,
                    color recipes, and DIY pictures related to your home.</li>
                <li>Access essential information on-the-go, from insurance documents and blueprints
                    to any household-related data you wish to save.</li>
                <li>Enjoy automated additions of user manuals, valuable tips, and support links for
                    your appliances, home electronics, and tools.</li>
                <li>Experience peace of mind with a secure and safe platform that preserves all your
                    data, readily available whenever you need it.</li>
                <li>Property Manuel is free to use for all your home inventory needs, empowering you
                    to be the master of your domain.</li>
                <span>Take control of your home's information with Property Manuel, you can try this because
                    its free.</span>
            </div>
            <div class="col-lg-12">
                <span class="sub-heading">Tech Stack: </span>
                <li>Net Core 8 API</li>
                <li>Domain-Driven Design (DDD) Pattern / ABP.io</li>
                <li>Entity Framework / LINQ / Dapper / SignalR</li>
                <li>IONIC-Angular</li>
                <li>SQL Server</li>
                <li>Azure DevOps</li>
            </div>
        </div>
        <!--End of Project Details-->

        <!--DOWNLOAD RESUME SECTION -->

        <div class="row text-center mt-3 mb-3">
            <span class="underline-on-hover" style="color: black;" (click)="goToAnotherComponent()">View All Projects ></span>
        </div>

    </div>
</div>