.underline-on-hover {
    text-decoration: none; 
    cursor: pointer; 
    transition: text-decoration 0.3s;
  }
  
  .underline-on-hover:hover {
    text-decoration: underline;
    color: gold !important;
  }

  .pad-40{
    padding: 40px;
  }

  .experienceSection{
    padding: 40px;
  }

  @media screen and (max-width: 650px) {
    .experienceSection{
      padding: 40px 20px !important;
    }
    .pad-40{
      padding: 40px 20px !important;
    }
}

  .boxShadow:hover {
    box-shadow: 0 0 15px #33E3FF; 
  }

  .pad-20{
    padding: 20px;
  }

  li, h3, h2, span {
    color: #FFFFFF !important;
}

.sub-heading{
  color: gold !important;
  font-weight: bold;
}

.cyan-color{
  color: cyan !important;
}

.borderStyling{
  border-bottom: 1px solid gold;
  padding-bottom: 40px !important;
  margin: 30px 0px;
}