<body>
    
    <div class="container projectsComponent">

        <h5 class="mt-5"><span class="cyan-color clickable" (click)="goBack()"><i class="fa-solid fa-arrow-left cyan-color"></i>  Uzair Ashraf</span></h5>
        <h1 class="projectHeading on-hover">All Projects</h1>
    
        <div class="row projects-headings mb-4">
            <div class="col-lg-1 col-4">
                <h3 style="color: gold;">Year</h3>
            </div>
            <div class="col-lg-2 col-8">
                <h3 style="color: gold;">Project</h3>
            </div>
            <div class="col-lg-4 description-heading">
                <h3 style="color: gold;">Description</h3>
            </div>
            <div class="col-lg-5 tech-heading">
                <h3 style="color: gold;">Tech Stack</h3>
            </div>
        </div>
    
        <!--Start of Project 5-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2022</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>NFT Market Place</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>I was part of a team that developed a
                    revenue-generating platform designed to
                    captivate visitors and enhance user engagement. Our platform incorporated a powerful
                    suite of intuitive applications, such as Offline Marketing utilizing QR Codes, Interactive
                    Support features including Live Chat, Call, and Livestream functionalities, and robust
                    User Analytics.</span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">Net Core 8 API</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Domain-Driven Design (DDD) Pattern / ABP.io</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ / Dapper / SignalR</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">IONIC-Angular</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">React JS</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">SQL Server</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Azure DevOps</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 5-->
    
         <!--Start of Project 6-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2022</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>go NDA</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>Contributed to the development of "go NDA" - an
                    innovative platform that provides
                    users with automated legal templates and real-time execution capabilities, all
                    accessible from their mobile devices. "go NDA" is a welcome addition to the legal
                    landscape, empowering users to access legal templates and execute them effortlessly
                    through the website<a style="color: cyan" href="https://www.getgonda.com/" target="_blank">
                        www.getgonda.com.</a> By being part of this project, played a role in
                    creating a user-friendly and efficient solution for legal document generation and
                    execution on-the-go.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">React-Native</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Typescript</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 6-->
    
         <!--Start of Project 7-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2021</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>Azhealth24</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>Azhealth24 is a groundbreaking hybrid-cross platform
                    healthcare application, catering
                    to users across various platforms such as web, iOS, and Android. As a member of the
                    team, I contributed to the development of this versatile app, which seamlessly bridges
                    the gap between different platforms to deliver essential healthcare services. By
                    working on Azhealth24, I played a vital role in creating a user-centric and accessible
                    solution, transforming the way users engage with healthcare services.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">.Net Core 3.1 API</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Domain-Driven Design (DDD) Pattern</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ / ADO</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">IONIC-Angular</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">JavaScript /jQuery/ Html, CSS/ Bootstrap</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">GITLAB</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">SQL Server</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 7-->
    
        <!--Start of Project 8-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2020</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>Fourlead</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>Fourlead is a cutting-edge job portal based in
                    Malaysia, offering a unique and
                    innovative feature - Behavior Assessment. As an integral part of the team, I contributed
                    to the development and implementation of this platform. By playing a key role in the
                    Fourlead project, I helped shape a transformative solution that revolutionizes the
                    recruitment process in Malaysia, fostering better matches between candidates and
                    employers.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">.Net Core 3.1 API</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Domain-Driven Design (DDD) Pattern</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ / ADO</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Angular</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">JavaScript /jQuery/ Html, CSS/ Bootstrap</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Docker</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">SQL Server</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 8-->
    
          <!--Start of Project 9-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2020</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>Sahulat Services</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>SahulatServices is a versatile handyman app.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">.Net Core 3.1 API</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Domain-Driven Design (DDD) Pattern</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Angular</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">JavaScript /jQuery/ Html, CSS/ Bootstrap</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Azure DevOps</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">SQL Server</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 9-->
    
          <!--Start of Project 10-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2019</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>Fox Rehabilitation</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>For Rehabilitation is a health care web, in which
                    patient and doctor interact and set
                    appointments, and home base health care.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">.Net Core 3.1 API</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Domain-Driven Design (DDD) Pattern</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Angular</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">JavaScript /jQuery/ Html, CSS/ Bootstrap</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Azure DevOps</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">SQL Server</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 10-->
    
         <!--Start of Project 11-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2018</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>School ERP
                    Solutions</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>ezSCHOOL-ERP is the easiest and best school and
                    college management software.
                    Demo at: <a style="color: cyan" href="http://www.ezschoolerp.com/" target="_blank">
                        http://www.ezschoolerp.com/</a>.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">Asp.net MVC 5</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">MVC Pattern</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Visual Studio</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">JavaScript /jQuery/ Html, CSS/ Bootstrap</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">ORACLE</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">TFS</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 11-->
    
          <!--Start of Project 12-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2018</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>Franchise Management
                    System</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>FMS provide bird eye view of all franchises to top
                    management.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">Asp.net MVC 5</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">MVC Pattern</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Visual Studio</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">JavaScript /jQuery/ Html, CSS/ Bootstrap</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">SQL Server</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">TFS</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 12-->
    
         <!--Start of Project 12-->
        <div class="row  project-details-row">
            <div class="col-lg-1 col-4">
                <span>2017</span>
            </div>
            <div class="col-lg-2 col-8">
                <span>Multivendor E-Commerce
                    Web Application</span>
            </div>
            <div class="col-lg-4 techStackDetails">
                <span>It’s a multivendor e-commerce platform where used
                    and new mobile can be bought
                    and sold online.
                </span>
            </div>
            <div class="col-lg-5 techStackCol">
                <div class="row">
                    <div class="techBox">
                        <span class="techText">Asp.net MVC 5</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Asp.net Identity</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Entity Framework / LINQ</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">Visual Studio</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">JavaScript /jQuery/ Html, CSS/ Bootstrap</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">SQL Server</span>
                    </div>
                    <div class="techBox">
                        <span class="techText">GitHub</span>
                    </div>
                </div>
            </div>
        </div>
         <!--End of Project 12-->
        
    </div>
</body>
