body {
  background-color: #15202B;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

h4,
h3,
h2,
h1,
span,
ul,
li,
p {
  color: #FFFFFF !important;
}

.nameSection {
  padding: 10% 6%;
  max-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.iconStyling {
  margin-top: 70px;
}

.iconStyling:hover {
  box-shadow: 0 0 15px #FFFFFF;
  border-radius: 100px;
}

.sideHeading {
  margin-top: 70px;
}

.github-icon {
  margin-left: 15px;
}

.nameStyling {
  text-shadow: 0 0 10px firebrick;
}

.cursor-typing {
  width: 32ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 20px;
}

.shortIntro {
  font-family: monospace;
  font-size: 14px;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.underline-on-hover {
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration 0.3s;
}

.underline-on-hover:hover {
  text-decoration: underline;
  color: gold !important;
}

.on-hover:hover {
  color: #fff;
  text-shadow: 0 0 0px #03e9f4,
    0 0 0px #03e9f4,
    0 0 5px #03e9f4,
    0 0 5px #03e9f4;
}

.pad-40 {
  padding: 40px;
}

.pad-20 {
  padding: 20px;
}

.midHeadingFontSize {
  font-size: 18px;
}

.experienceSection {
  padding: 40px;
}

@media screen and (max-width: 650px) {
  .experienceSection {
    padding: 40px 20px !important;
  }

  .pad-40 {
    padding: 40px 20px !important;
  }
}

.boxShadow:hover {
  box-shadow: 0 0 15px #33E3FF;
  /* background-color: rgba(97, 141, 202, 0.584); */
  background-color: rgb(38 81 139 / 58%);
  border-radius: 25px;
  opacity: 1.0;
  -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.sub-heading {
  color: gold !important;
  font-weight: bold;
}

.cyan-color {
  color: cyan !important;
}

.borderStyling {
  border-bottom: 1px solid gold;
  padding-bottom: 40px !important;
  margin: 30px 0px;
}

.box {
  --border-size: 3px;
  --border-angle: 0turn;
    width: 85vmin;
    height: 25vmin;
    padding: 20px;

  background-image: conic-gradient(from var(--border-angle),
      #213,
      #112 50%,
      #213),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);

  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 8s linear infinite;

  /* &:hover {
    animation-play-state: paused;
  } */
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid cyan;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

@media only screen and (min-width: 1501px) and (max-width: 2100px) {
  .nameSection {
    padding: 12% 6%;
  }

  .box {
    width: 85vmin;
    height: 25vmin;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1900px) {
  .nameSection {
    padding: 10% 6%;
  }

  .box {
    width: 80vmin;
    height: 25vmin
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1500px) {
  .nameSection {
    padding: 10% 5%;
  }

  .box {
    width: 75vmin;
    height: 25vmin
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1350px) {
  .nameSection {
    padding: 12% 4%;
  }

  .box {
    width: 70vmin;
    height: 25vmin
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1250px) {
  .nameSection {
    padding: 12% 4%;
  }

  .box {
    width: 65vmin;
    height: 25vmin
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1150px) {
  .nameSection {
    padding: 12% 4%;
  }

  .box {
    width: 60vmin;
    height: 25vmin
  }
}

@media only screen and (max-width: 1050px) {
  .nameSection {
    position: relative !important;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1050px) {
  .nameSection {
    padding: 12% 4%;
  }

  .box {
    width: 58vmin;
    height: 28vmin
  }
}

@media only screen and (min-width: 700px) and (max-width: 950px) {
  .nameSection {
    padding: 12% 6%;
  }

  .box {
    width: 62vmin;
    height: 25vmin
  }
}


@media only screen and (min-width: 500px) and (max-width: 700px) {
  .nameSection {
    padding: 12% 6%;
  }

  .box {
    width: 80vmin;
    height: 35vmin
  }
}


@media screen and (max-width: 500px) {
  .nameSection {
    padding: 12% 8%;
    position: relative !important;
  }

  .cursor-typing{
    font-size: 14px;
  }

  .shortIntro{
    font-size: 12px;
  }

  .box {
    width: 88vmin;
    height: 45vmin
  }

  .techBox{
    line-height: 35px !important;
  }

  .techText{
    padding: 5px 10px;
  }

}

@media screen and (max-width: 450px) {

  .nameSection {
    padding: 12% 6%;
    position: relative !important;
  }

  .cursor-typing{
    font-size: 14px;
  }

  .shortIntro{
    font-size: 12px;
  }

  .box {
    width: 90vmin;
    height: 38vmin
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {

  .cursor-typing{
    font-size: 14px;
  }

  .shortIntro{
    font-size: 12px;
  }

  .box {
    width: 94vmin;
    height: 55vmin;
  }
}

@media screen and (min-width: 200px) and (max-width: 320px) {

  .cursor-typing{
    font-size: 14px;
  }

  .shortIntro{
    font-size: 12px;
  }

  .box {
    width: 95vmin;
    height: 68vmin;
  }
}

/* Boxes on first page */

.techBox{
  background-color: rgba(45,212,191,.1);
  width: fit-content;
  height: 40px;
  border-radius: 999px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 39px;
  min-width: 120px;
  margin: 3px;
}

.techText{
  padding: 10px 10px;
  font-size: 14px;
  color: #5EEAD4 !important;
}